name: Flutter Web Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      # Build for web. 
      # If you are deploying to a project page (e.g., username.github.io/repo-name),
      # you may need to set the base-href:
      # run: flutter build web --release --base-href "/repo-name/"
      - name: Build Web
        run: flutter build web --release --base-href "/portfolio_new/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
